#####################
# Ignore everything #
#####################
/*
/*/


#########################
# Un-ignore directories #
#########################
!/code/
!/data/
!/docs/


###################
# Un-ignore files #
###################
!.folder
!*.Rproj
!.gitignore


##########################
# Ignore specific folders #
###########################
packrat/lib*/
packrat/src/packrat/packrat_0.4.9-1.tar.gz
packrat/src/


#########################
# Ignore specific files #
#########################
*.ini
.Rproj.user
.Rhistory
.RData
.Ruserdata
*.rds
